<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libro Diario</title>
</head>
<body>
<h1>Libro Diario</h1>

<form action="/save" method="post">
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" name="fecha" required><br><br>

    <label for="concepto">Concepto:</label>
    <input type="text" id="concepto" name="concepto" required><br><br>

    <label for="ingreso">Ingreso:</label>
    <input type="number" id="ingreso" name="ingreso" step="0.01"><br><br>

    <label for="egreso">Egreso:</label>
    <input type="number" id="egreso" name="egreso" step="0.01"><br><br>

    <label for="saldo">Saldo:</label>
    <input type="number" id="saldo" name="saldo" step="0.01" ><br><br>

    <button type="submit">Guardar</button>
</form>
</body>
</html>
